<div class="col-md-12 ms-auto">
    <table class="table table-dark table-hover table-striped">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Address</th>
            <th class="text-center">City</th>
            <th class="text-center">Province</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="consumer : ${consumerList}">
                <td class="text-center" th:text="${consumer.id}"></td>
                <td class="text-center" th:text="${consumer.name}"></td>
                <td class="text-center" th:text="${consumer.address}"></td>
                <td class="text-center" th:text="${consumer.city}"></td>
                <td class="text-center" th:text="${consumer.province}"></td>
                <td class="text-center" th:text="${consumer.status}"></td>
                <td class="text-center">
                    <button class="btn btn-warning badge-pill"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-update-consumer"
                            th:attr="data-bs-id=${consumer.id}, data-bs-name=${consumer.name}, data-bs-address=${consumer.address}, data-bs-city=${consumer.city}, data-bs-province=${consumer.province}, data-bs-status=${consumer.status}, data-bs-url=@{/consumers/{id}(id=${consumer.id})}">
                        EDIT
                    </button>
                    <button class="btn btn-danger badge-pill"
                            th:attr="onclick=|btn_delete_onclick('@{/consumers/{id}(id=${consumer.id})}')|"
                    >
                        DELETE
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>